.render-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 11 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 5;
}
.div3 {
  grid-area: 5 / 2 / 6 / 6;
}
.div4 {
  grid-area: 1 / 5 / 5 / 6;
}
.div5 {
  grid-area: 2 / 2 / 5 / 5;
}

.footer {
  background-color: #363636;
  height: 100%;
  margin: 0;
  padding: 0;
}

.solutions-picture-viewer {
  background-color: #363636;
  height: 100%;
}

.color-picker {
  position: relative;
}

.color-picker img {
  width: 50px; /* ajusta el ancho según sea necesario */
  height: 50px; /* ajusta la altura según sea necesario */
}

.color-picker.selected::before {
  content: '';
  position: absolute;
  top: -5px; /* ajusta la posición superior según sea necesario */
  left: -5px; /* ajusta la posición izquierda según sea necesario */
  width: 60px; /* ajusta el ancho del círculo según sea necesario */
  height: 60px; /* ajusta la altura del círculo según sea necesario */
  border: 2px solid #fff; /* ajusta el grosor y color del borde según sea necesario */
  border-radius: 50%;
  box-sizing: border-box;
}

.selected {
  filter: sepia(100%) saturate(800%) hue-rotate(7deg);
}
