.render-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 11 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 5;
}
.div3 {
  grid-area: 5 / 2 / 6 / 6;
}
.div4 {
  grid-area: 1 / 5 / 5 / 6;
}
.div5 {
  background-color: #363636;
  grid-area: 2 / 2 / 5 / 5;
}

/* Media Query para tablets de tamaño mediano */
/* @media only screen and (max-width: 768px) {
  .render-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .div1 {
    grid-area: 1 / 1 / 7 / 2;
  }
  .div2 {
    grid-area: 1 / 2 / 2 / 4;
  }
  .div3 {
    grid-area: 2 / 1 / 4 / 4;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 4;
  }
  .div5 {
    grid-area: 5 / 1 / 7 / 4;
  }
} */

/* Media Query para dispositivos más pequeños de móviles */
/* @media only screen and (max-width: 480px) {
  .render-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }

  .div1,
  .div2,
  .div5,
  .div4,
  .div3 {
    grid-area: auto;
  }
} */

.footer {
  background-color: #363636;
  height: 100%;
  margin: 0;
  padding: 0;
}

.solutions-picture-viewer {
  background-color: #363636;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.solutions-picture-viewer-img {
  width: 100vh;
  height: auto;
}

.color-picker {
  position: relative;
}

.color-picker img {
  width: 50px; /* ajusta el ancho según sea necesario */
  height: 50px; /* ajusta la altura según sea necesario */
}

.color-picker.selected::before {
  content: '';
  position: absolute;
  top: -5px; /* ajusta la posición superior según sea necesario */
  left: -5px; /* ajusta la posición izquierda según sea necesario */
  width: 60px; /* ajusta el ancho del círculo según sea necesario */
  height: 60px; /* ajusta la altura del círculo según sea necesario */
  border: 2px solid #fff; /* ajusta el grosor y color del borde según sea necesario */
  border-radius: 50%;
  box-sizing: border-box;
}

.selected-option {
  filter: sepia(100%) saturate(800%) hue-rotate(7deg);
}
