.selected-option {
  filter: sepia(100%) saturate(800%) hue-rotate(7deg);
}

.s-icon-container {
  margin: 3rem 0 6rem 0;
}

.header-text {
  color: #717078;
  font-weight: bold;
  margin: 1rem;
}

.list {
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  .first-container {
    height: 100vh;
  }
}