.icon-img {
  display: flex;
  align-items: flex-start;
  padding-left: 5rem;
}

.default-solution-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

.text {
  text-align: left;
  justify-content: center;
  color: #D2632C;
  font-weight: bold;
  font-size: 4rem;
}

.default-container {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 480px) {
  .icon-img {
    padding-left: 2rem;
    padding-top: 1rem;
  }
  .icon-img img {
    height: 4rem;
  }

  .default-solution-text {
    padding: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: left;
    width: 50px;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}